@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.App {
  text-align: center;
  transition: linear 1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 100vh;
}

.App2 {
  margin-left: auto;
  margin-right: auto;
}


.content-div {
  width: 550px;
  background: #ffffff;
}

span {
  position: relative;
  top: 15px;
  font-size: 50px;
  right: 10px;
  transition: linear 1s;
}

@keyframes pressed {
  0% {
    opacity: 0;
    top: -50px;
  }

  25% {
    top: -30px;
    opacity: 0;
  }

  50% {
    top: 20px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes pressed2 {

  0% {
    opacity: 0;
    top: -50px;
  }

  25% {
    top: -30px;
    opacity: 0;
  }

  50% {
    top: 9px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

h1 {
  position: relative;
  font-size: 28px;
  transition: linear 1s;
  animation: pressed 1s;
}

h2 {
  position: relative;
  font-size: 20px;
  transition: linear 1s;
  animation: pressed 1s;
}

.link-buttons-div {
  position: relative;
}

svg {
  transition: linear 1s;
  margin-right: 5px;
  border-radius: 19px !important;
}

.bi-twitter {
  padding: 5px;
}

button {
  color: #fff;
  opacity: 1;
  transition: linear 1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 38px;
  font-size: 1rem;
}


.button-div:hover,
a:hover {
  opacity: 0.8;
}

footer div {
  display: inline-flex;
  position: relative;
  right: 5px;
}

footer {
  text-align: center;
}

footer,
footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  opacity: 1;
}



@media (max-height:555px) {

  h1 {
    font-size: 22px;
    animation: pressed2 1s;
  }

  h2 {
    font-size: 16px;
    animation: pressed2 1s;
  }

  .re-margin {
    margin-top: 10px !important;
  }

  span {
    top: 10px;
    font-size: 38px;
    right: 2px;
  }

  .but {
    font-size: 13px;
    padding: 4px 10px 4px 10px !important;
    height: 30px;
  }

  svg {
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
  }
}

@media(max-width: 560px) {
  .content-div {
    width: fit-content;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

@media (max-width:450px) {

  h1 {
    font-size: 22px;
    animation: pressed2 1s;
  }

  h2 {
    font-size: 16px;
    animation: pressed2 1s;
  }

  .content-div {
    padding: 20px !important;
  }

  span {
    top: 10px;
    font-size: 38px;
    right: 2px;
  }

  .but {
    font-size: 13px;
    padding: 4px 10px 4px 10px !important;
    height: 30px;
  }

  svg {
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
  }

  .re-margin {
    margin-top: 10px !important;
  }
}

@media (max-height:380px) {
  .content-div {
    padding: 20px !important;
  }
}

@media (max-height:330px) {
  h1 {
    font-size: 17px;
  }

  h2 {
    font-size: 13px;
  }

  span {
    top: 10px;
    font-size: 33px;
    right: 2px;
  }
}

@media (max-width:330px) {
  h1 {
    font-size: 17px;
  }

  h2 {
    font-size: 13px;
  }

  span {
    top: 10px;
    font-size: 33px;
    right: 2px;
  }
}